<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/commen.css">


</head>
<body>

<div id="pageone">
    <!--header-->
    <div id="index_header">
        <!--搜索框-->
            <form method="post" action="" class="index_search_top">
                    <label for="search"></label>
                    <input type="search" name="search" id="search" placeholder="搜索内容..." class="index_search">

            </form>
    </div>

   <!--main-->
    <div id="index_main">

        <!--分类-->
        <div class="index_style">
            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_6.png">
                    <p>早餐</p>
                </a>
            </div>
            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_2.png">
                    <p>午餐</p>
                </a>
            </div>
            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_5.png">
                    <p>晚餐</p>
                </a>
            </div>

            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_7.png">
                    <p>麻辣烫</p>
                </a>
            </div>
            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_1.png">
                    <p>肯德基</p>
                </a>
            </div>

            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_3.png">
                    <p>水果</p>
                </a>
            </div>
            <div>
                <a href="__MODULE__/Style/style">
                     <img src="__PUBLIC__/home/images/style_4.png">
                     <p>饮品</p>
                </a>
            </div>
            <div>
                <a href="__MODULE__/Style/style">
                    <img src="__PUBLIC__/home/images/style_8.png">
                    <p>甜品</p>
                </a>
            </div>

        </div>
        <!--活动中心-->
        <div class="index_active">
            <span>活动中心</span>
            <div class="index_active_content">
                <div class="index_active_one">
                     <a href="__MODULE__/ActiveOne/activity_one"><p>一元秒杀</p>
                     <img src="__PUBLIC__/home/images/c.jpg"></a>
                </div>
                <div class="index_active_two">
                    <a href="__MODULE__/ActiveTwo/activity_two"><p>全场五折</p>
                    <img src="__PUBLIC__/home/images/c.jpg"></a>
                </div>
                <div class="index_active_three">
                    <a href="__MODULE__/ActiveThree/activity_three"><p>周末福利</p>
                    <img src="__PUBLIC__/home/images/c.jpg"></a>
                </div>              

            </div>
        </div>

        <!--热门推荐-->
        <div class="index_recommend">
            <span>热门推荐</span>
            <div class="index_recommend_tab">
                <p class="index_recommend_active">美食</p>
                <p class=" ">商家</p>
             </div>
            <!--热门推荐内容-->
            <div class="index_recommend_content">
                <!--美食-->
                <div class="index_recommend_content_food index_recommend_show">
                  <volist name="index_food" id="index_food">
                    <a href="__MODULE__/Store/store">
                        <div class="recommend_food_list">
                        <div class="recommend_store_name">
                            <!--<p class="ui-btn ui-corner-all ui-icon-audio ui-btn-icon-notext"></p>-->
                            <p>桃李阁</p>
                            <p>配送费<span>0</span></p>
                        </div>
                        <div class="recommend_food_list_name">
                            <div><img src="__PUBLIC__/{$index_food.food_img}"></div>
                            <div>
                                <p>{$index_food.food_name}</p>
                                <p>月售<span>{$index_food.food_sold}</span>份</p>
                                <p>评分：<span>{$index_food.food_score}</span></p>
                                <p><span>{$index_food.food_price}</span>元</p>
                            </div>
                        </div>
                        </div>
                    </a>
                  </volist>
                </div>
                <!--商家-->
                <div class="index_recommend_content_store">
                    <volist name="index_store" id="index_store">
                        <div class="recommend_store_list">
                            <div>
                                <div class="recommend_store_img"><img src="__PUBLIC__/{$index_store.store_logoimg}"></div>
                                <div class="recommend_store_list_content">
                                    <p>{$index_store.store_name}</p>
                                    <p>月售<span>{$index_store.store_sold}</span>份</p>
                                    <p>配送费：<span>{$index_store.store_shippingfee}</span>元</p>
                                    <p><span>{$index_store.store_beginfee}</span>元起送</p>
                                    <p>评分:<span>{$index_store.store_score}</span></p>
                                    <a href="__MODULE__/Store/store/id/{$index_store.store_id}">进店逛逛</a>
                                </div>
                            </div>
                        </div>
                    </volist>
                    <!--<div class="recommend_store_list">-->
                        <!--<div>-->
                            <!--<div class="recommend_store_img"><img src="__PUBLIC__/home/images/c.jpg"></div>-->
                            <!--<div class="recommend_store_list_content">-->
                                <!--<p>大拇指米线</p>-->
                                <!--<p>月售<span>1000</span>份</p>-->
                                <!--<p>配送费：<span>5</span>元</p>-->
                                <!--<p><span>10</span>元起送</p>-->
                                <!--<p>评分:</p>-->
                                <!--<a href="__MODULE__/Store/store">进店逛逛</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recommend_store_list">-->
                        <!--<div>-->
                            <!--<div class="recommend_store_img"><img src="__PUBLIC__/home/images/c.jpg"></div>-->
                            <!--<div class="recommend_store_list_content">-->
                                <!--<p>大拇指米线</p>-->
                                <!--<p>月售<span>1000</span>份</p>-->
                                <!--<p>配送费：<span>5</span>元</p>-->
                                <!--<p><span>10</span>元起送</p>-->
                                <!--<p>评分:</p>-->
                                <!--<a href="__MODULE__/Store/store">进店逛逛</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recommend_store_list">-->
                        <!--<div>-->
                            <!--<div class="recommend_store_img"><img src="__PUBLIC__/home/images/c.jpg"></div>-->
                            <!--<div class="recommend_store_list_content">-->
                                <!--<p>大拇指米线</p>-->
                                <!--<p>月售<span>1000</span>份</p>-->
                                <!--<p>配送费：<span>5</span>元</p>-->
                                <!--<p><span>10</span>元起送</p>-->
                                <!--<p>评分:</p>-->
                                <!--<a href="__MODULE__/Store/store">进店逛逛</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recommend_store_list">-->
                        <!--<div>-->
                            <!--<div class="recommend_store_img"><img src="__PUBLIC__/home/images/c.jpg"></div>-->
                            <!--<div class="recommend_store_list_content">-->
                                <!--<p>大拇指米线</p>-->
                                <!--<p>月售<span>1000</span>份</p>-->
                                <!--<p>配送费：<span>5</span>元</p>-->
                                <!--<p><span>10</span>元起送</p>-->
                                <!--<p>评分:</p>-->
                                <!--<a href="__MODULE__/Store/store">进店逛逛</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>


    </div>

    <!--footer-->
    <div id="index_footer" >
        <div>
            <ul>
                <li class="index_footer_active"><a href="__MODULE__/IndexTwo/indextwo">首页</a></li>
                <li><a href="__MODULE__/Life/life">生活</a></li>
                <li><a href="__MODULE__/Order/order">订单</a></li>
                <li><a href="__MODULE__/My/my">我的</a></li>
            </ul>
        </div>

    </div>

</div>

<script src="__PUBLIC__/home/js/jquery.min.js"></script>
<script src="__PUBLIC__/home/js/commen.js"></script>
</body>
</html>


